services:
  #  app:
  #    build: .
  #    env_file:
  #      - .env
  #    ports:
  #      - "8081:8080"
  #    depends_on:
  #      postgres:
  #        condition: service_healthy


  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      # 귀찮
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user1234
      POSTGRES_DB: note

    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U appuser -d appdb" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: